// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment_group{
	margin-top: 30px;
	margin-bottom: 15px;
	border: 1px solid #909090;
	border-radius: 5px;

	div {
		padding-left: 3px;
		padding-top: 5px;
		border-radius: 5px;
	}
}

.odd_comment {
	background: #a2bcf2;
	border-top: 1px solid #a2bcf2;
}

.even_comment {
	background: #ede7e9;
	border-bottom: 1px solid #ede7e9;
}

.body {
	padding-left: 8px;
	padding-bottom: 15px;
	font-size: 14px;
	font-family: Cochin, sans-serif;
}

.new_comment {
	#comment_body {
		height: 200px;
		width: 600px;
		margin-top: 10px;
		margin-bottom: 20px;
	}
}