// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog_post {
	width: 550px;
	position: relative;
}

.title {
	font-family: Copperplate, sans-serif;
	font-size: 20px;
	color: #fff;
	background: #4e5263;
	padding-left: 10px;
	//margin-top: 15px;
	padding-bottom: 5px;
	
}

.entry {
	font-family: Cochin, sans-serif;
	font-size: 15px;
	color: #000;
	font-weight: lighter;
	padding-bottom: 30px;
	background: #ede7e9;
	padding-left: 20px;
}

.comment_link {
	border-right: 1px solid #000;

	padding-right: 5px;
}

.comment_bar {
	margin-bottom: 20px;
	margin-right: 5px;
	text-align: right;

	div {
		display: inline;
	}
}

#notice {
	background: #fed;
	color: red;
}
